%section#main.main.index{:role => :main}
  .body
    .frame
      - site.find_posts(:category => "cache", :kind => "page").each do |page|
        - next if page.title.downcase == "cache"
        %article.post{:id => page.slug.value}
          %header.kind
            %h3= page.title
          -#
            %form.search{:action => "/search", :method => :post, :id => "#{page.slug.value}-form"}
              %input.tags{:type => :text, :size => 30, :title => "search #{page.slug.value} scripts by title or tags", :data => {:for => page.slug.value}}
          .content{:id => "#{page.slug.value}-content"}
            %ul
              - page.children.each do |child|
                - next if child.slug.value == "index"
                %li.library
                  %details
                    %summary.summary
                      .sources
                        %a.src{:href => child.src, :title => child.tags.join(", ")}= child.title
                      %ul.links
                        - unless child.data["home"].blank?
                          %li
                            %a{:href => child.data["home"]} Home
                        - unless child.data["demo"].blank?
                          %li
                            %a{:href => child.data["demo"]} Demo
                        - unless child.data["docs"].blank?
                          %li
                            %a{:href => child.data["docs"]} Docs
                        - unless child.data["repo"].blank?
                          %li
                            %a{:href => child.data["repo"]} Repo
                        %li.arrow
                          %a.drilldown{:href => "/commons/#{child.slug.value}"} &darr;
                    .details
                      %ul.related-assets
                        - child.related_assets.each do |link|
                          %li.link
                            %a.src{:href => link.href}= link.title