%section#main.main.index{:role => :main}
  .body
    .frame
      - site.find_posts_by_category("libraries").each do |post|
        - next if post.slug.value == "index"
        %article.post{:id => post.slug.value}
          %header.kind
            %h3= post.title
            %form.search{:action => "/search", :method => :post, :id => "#{post.slug.value}-form"}
              %input.tags{:type => :text, :size => 30, :title => "search #{post.slug.value} scripts by title or tags", :data => {:for => post.slug.value}}
          .content{:id => "#{post.slug.value}-content"}
            - case post.extension
              - when "markdown"
                :markdown
                  #{post.read}
              - else
                :textile
                  #{post.read}