!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title= c("metadata.title")
    = partial "shared/head", :locals => locals
  %body
    .document
      = partial "shared/header", :locals => locals
      = yield
      = partial "shared/footer", :locals => locals